body{
  margin: 0px;
}
.bg{
  background-image:url('./bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0px;
  width: 100%;
  position:fixed;
  overflow: auto;
}
.flex-container{
  display:flex;
  flex-direction: row;
  background-color:rgba(255, 255, 255, 0.5);
  margin-top:150px;
}
.image{
  width:350px;
  height:350px;
}
.description{
  overflow:auto;
  height:350px;
  padding:15px;
}
@media only screen and (max-width:950px) {
.image{
  width:100%;
  height:350px;
}
.flex-container{
  background-color:rgba(255, 255, 255, 0.5);
  margin-top:150px;
  flex-direction: column;
  display: flex;
}
}
